<div class="content">
  <div class="container-fluid">
    <!--Nodal balance -->
    <div class="row justify-content-between mb-3">
      <button type="button"
              (click)="model.makeSettlementToMarket()"
              [disabled]="!model.canMakeSettlementToMarket"
              class="btn btn-primary"
      >Create settlement to Market</button>
    </div>
    <div class="row justify-content-between mb-3"
         *ngFor="let method of model.nodalAccounts"
    >
      <div class="col-sm">
        <app-account-balances-table
          [holder]="method"
        ></app-account-balances-table>
      </div>
    </div>
    <div class="row justify-content-between mb-3">
      <div class="col-sm"
           *ngFor="let seller of model.sellers.all()"
      >
        <app-account-balances-table
          [holder]="seller.name"
          [hasSettlement]="true"
        ></app-account-balances-table>
      </div>
    </div>
  </div>
</div>
