<table class="pure-table pure-table-horizontal text-center">
  <thead *ngIf="showHeader">
      <tr>
          <th *ngFor="let header of provider.headers">{{header}}</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of provider.rows; let i = index"
        [class.pure-table-odd]="i % 2 === 0">
        <td *ngFor="let cell of row">{{cell}}</td>
    </tr>
    <tr *ngIf="isEmpty">
      <td [attr.colspan]="provider.headers.length">empty</td>
    </tr>
  </tbody>
  <tfoot *ngIf="showFooter && provider.footers > 0">
    <tr>
      <td *ngFor="let footer of provider.footers"
          [attr.colspan]="footer.colspan">{{footer.value}}</td>
    </tr>
  </tfoot>
</table>
