<div class="content">
  <div class="container-fluid">
    <!--Payments-->
    <div class="row justify-content-between mb-3">
      <div class="col-sm">
        <h2>Order Payments ({{model.payments.count()}})</h2>
      </div>
      <div class="col-sm">
        <p class="decryption">All payments for orders with refunds and balance gateway</p>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row justify-content-md-center mb-3">
      <div class="col-sm">
        <app-payments-table
          [data]="model.payments.all()"
        ></app-payments-table>
      </div>
    </div>
    <!--Refunds-->
    <div class="row justify-content-between mb-3">
      <div class="col-sm">
        <h2>Order Refunds ({{model.refunds.count()}}):</h2>
      </div>
    </div>
    <div class="row justify-content-between mb-3">
      <div class="col-sm">
        <app-refunds-table
          [data]="model.refunds.all()"
        ></app-refunds-table>
      </div>
    </div>
    <!--Settlements-->
    <div class="row justify-content-between mb-3">
      <div class="col-sm">
        <h2>Settlements ({{model.settlements.count()}}):</h2>
      </div>
      <div class="col-sm">
        <app-create-settlement></app-create-settlement>
      </div>
    </div>
    <div class="row justify-content-between mb-3">
      <div class="col-sm">
        <app-settlements-table
          [data]="model.settlements.all()"
        ></app-settlements-table>
      </div>
    </div>
    <!--balance gateway-->
    <div class="row justify-content-between mb-3">
      <div class="col-sm"
           *ngFor="let method of model.paymentMethods"
      >
        <app-account-balances-table
          [holder]="method"
        ></app-account-balances-table>
      </div>
    </div>
  </div>
</div>
