.collection {
  padding: 10px 0;
}

.collection_prop {
  padding: 0 5px;
  font-weight: bold;
}

.collection_prop {
  padding: 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

.toolbar-canter {
  flex: 1 1 auto;
  text-align: center;
}
