<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-between mb-3">
      <h2>Orders ({{model.orders.count()}})</h2>
      <p class="decryption">Orders and items (you can add a new one or make a payment on the order)</p>
      <app-dialog-order-create></app-dialog-order-create>
    </div>
    <div class="row justify-content-md-center mb-3">
      <table class="table table-bordered pure-table pure-table-horizontal">
        <thead class="thead-light text-center align-middle">
        <tr>
          <th scope="col" rowspan="2">Order No#</th>
          <th rowspan="2" class="align-middle text-center"
              [class.active]="order === 'createdAt'"
              (click)="setOrder('createdAt')"
          >
            Date <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col" rowspan="2">Customer</th>

          <th scope="colgroup" colspan="2">Invoices</th>
          <th scope="colgroup" colspan="8">Items</th>
        </tr>
        <tr>
          <th scope="col">No#</th>
          <th scope="col"
              [class.active]="order === 'createdAt'"
              (click)="setOrder('invoice.createdAt')"
          >
            Date <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>

          <th scope="col">Seller</th>
          <th scope="col">SKU</th>
          <th scope="col">price</th>
          <th scope="col">qty</th>
          <th scope="col">total shipping</th>
          <th scope="col">total price</th>
          <th scope="col">total fee</th>
          <th scope="col">status</th>

        </tr>
        </thead>
        <tbody>

        <!-- Start Order row -->
        <ng-container *ngFor="let order of model.orders.all() | orderBy: order:reverse">
          <tr
            class="text-center align-middle"
          >
            <td [rowSpan]="order.items.length"
                class="text-center align-middle"
            >
              {{order.id}}
              <div class="btn-group-vertical btn-group-sm" role="group">
                <button class="btn btn-sm btn-{{action.color}}"
                        [title]="action.title"
                        *ngFor="let action of orderActions(order)"
                        (click)="action.handler()"
                        type="button"

                >{{action.name}}</button>
              </div>
            </td>
            <td [rowSpan]="order.items.length"
                class="text-center align-middle"
            >{{order.createdAt | dateFormat}}</td>
            <td [rowSpan]="order.items.length"
                class="text-center align-middle"
            >{{order.customerName}}</td>

            <!--First Invoice row-->
            <ng-container *ngFor="let group of order.groupByInvoiceItems.slice(0,1)">
              <td [attr.rowspan]="group.items.length"
                  class="text-center align-middle"
              >
                <span>{{group.invoice?.id}}</span>
              </td>
              <td [attr.rowspan]="group.items.length"
                  class="text-center align-middle"
              >
                <span>{{group.invoice?.createdAt | dateFormat}}</span>
                <app-invoice-actions [order]="order" [invoice]="group.invoice"></app-invoice-actions>
              </td>

              <!--First Order Item row-->
              <ng-container *ngFor="let item of group.items.slice(0,1)">
                <td>{{item.sellerName}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.price | convert}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.amountShipping | convert}}</td>
                <td>{{item.total | convert}}</td>
                <td>{{item.feeMarket | convert}}</td>
                <td>
                  <app-item-status-actions [item]="item"></app-item-status-actions>
                </td>
              </ng-container>
              <!--End First Order Item row-->

            </ng-container>
            <!--End First Invoice row-->

          </tr>

          <!--First Invoice - Next Order Item row-->
          <tr *ngFor="let item of order.groupByInvoiceItems.slice(0,1).shift().items.slice(1)"
              class="text-center align-middle"
          >
            <td>{{item.sellerName}}</td>
            <td>{{item.sku}}</td>
            <td>{{item.price | convert}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.amountShipping | convert}}</td>
            <td>{{item.total | convert}}</td>
            <td>{{item.feeMarket | convert}}</td>
            <td>
              <app-item-status-actions [item]="item"></app-item-status-actions>
            </td>
          </tr>
          <!--End First Invoice - Next Order Item row-->

          <!--Next Invoice row-->
          <ng-container *ngFor="let group of order.groupByInvoiceItems.slice(1)">
            <tr class="text-center align-middle">
              <td [rowSpan]="group.items.length"
                  class="text-center align-middle"
              >
                {{group.invoice?.id}}
              </td>
              <td [attr.rowspan]="group.items.length"
                  class="text-center align-middle"
              >
                {{group.invoice?.createdAt | dateFormat}}
                <app-invoice-actions [order]="order" [invoice]="group.invoice"></app-invoice-actions>
              </td>

              <!--Next Invoice - First Order Item row-->
              <ng-container *ngFor="let item of group.items.slice(0,1)">
                <td>{{item.sellerName}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.price | convert}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.amountShipping | convert}}</td>
                <td>{{item.total | convert}}</td>
                <td>{{item.feeMarket | convert}}</td>
                <td>
                  <app-item-status-actions [item]="item"></app-item-status-actions>
                </td>
              </ng-container>
              <!--End Next Invoice - First Order Item row-->

            </tr>

            <!--Next Invoice - Next Order Item row-->
            <tr *ngFor="let item of group.items.slice(1)"
                class="text-center align-middle"
            >
              <td>{{item.sellerName}}</td>
              <td>{{item.sku}}</td>
              <td>{{item.price | convert}}</td>
              <td>{{item.qty}}</td>
              <td>{{item.amountShipping | convert}}</td>
              <td>{{item.total | convert}}</td>
              <td>{{item.feeMarket | convert}}</td>
              <td>
                <app-item-status-actions [item]="item"></app-item-status-actions>
              </td>
            </tr>
            <!--End Next Invoice - Next Order Item row-->

          </ng-container>
          <!--End Next Invoice row-->

        </ng-container>
        <!-- End Order row -->

        <tr *ngIf="model.orders.count() === 0">
          <td colspan="14"
              class="align-middle text-center"
          >empty</td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>
